.external {
    background-color: red;
    font-size: 32px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.exact{
    background-color: #FFCCCB;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#dos {
    color: #0096FF;
    font-size: 36px;
}

.but {
   font-size: 24px; 
}

#quattro {
    background-color: #90EE90;
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}

.black .yellow {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}